fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.4
streamlit==1.36.0
requests==2.32.3
nltk==3.8.1
sentence-transformers==3.0.1
scikit-learn==1.5.0
numpy==1.26.4
torch==2.3.1
transformers==4.42.3
python-multipart==0.0.9
